html, body {
    background: #F0F8FF;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    font-family: "Open Sans";
}

#intro #text {
    font-size: 70px;
    font-weight: bold;
    width: 9.5em;
    height: 1.5em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#intro #intro-button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background: none;
}

#intro #intro-button #start {
    font-size: 15px;
    font-weight: bold;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 125px;
    height: 40px;
    display: none;
}